.weather-extended {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    grid-column-gap: 38px;
  }

  &-block {
    display: grid;
    grid-row-gap: 10px;
    justify-content: center;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      grid-row-gap: 10px;
    }

    &-name {
      font-size: 18px;
      line-height: 22px;
      opacity: 0.6;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 15px;
      }
    }

    &-field {
      font-size: 25px;
      line-height: 30px;
      font-weight: 700;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 18px;
      }
    }
  }
}
