<div class="weather-extended">
  <div class="weather-extended-block">
    <div class="weather-extended-block-name">Ветер</div>
    <div class="weather-extended-block-field">{{ windSpeed }}, {{weatherProps.wind.deg | windDirection}}</div>
  </div>
  <div class="weather-extended-block">
    <div class="weather-extended-block-name">Давление</div>
    <div class="weather-extended-block-field">
      {{ weatherProps.main.pressure }} мм рт. ст.
    </div>
  </div>
  <div class="weather-extended-block">
    <div class="weather-extended-block-name">Влажность</div>
    <div class="weather-extended-block-field">
      {{ weatherProps.main.humidity }}%
    </div>
  </div>
  <div class="weather-extended-block">
    <div class="weather-extended-block-name">Вероятность дождя</div>
    <div class="weather-extended-block-field">{{ rainRate }}%</div>
  </div>
</div>
