<div class="container">
    <div class="content-page">
        <div class="content" *ngIf="weather$ | async">
            <div class="content-header">
                <app-city [cityName]="(weather$ | async).name"></app-city>
                <app-weather-unit
                        [selectedUnit]="selectedUnit"
                        (onChangeUnit)="onChangeUnit($event)"
                ></app-weather-unit>
            </div>
            <div class="content-main">
                <app-weather-main [weather]="weather$ | async"></app-weather-main>
            </div>
            <div class="content-footer">
                <app-weather-extended
                        [selectedUnit]="selectedUnit"
                        [weather]="weather$ | async"
                ></app-weather-extended>
            </div>
        </div>
    </div>
</div>
