.container {
  position: relative;
  background: #498cec;
  height: 100%;
}

.content-page {
  padding: 75px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  height: 100vh;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    padding: 19px;
  }
}

.content {
  height: 100%;
  display: grid;
  align-items: center;
}

.content-header {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 32px;
  grid-template-columns: minmax(225px,420px);
  align-self: flex-start;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: minmax(125px, 200px);

  }

}

.content-footer {
  align-self: flex-end;
}
