.weather {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  font-weight: 300;

  &-icon {
    display: flex;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 150px;
        height: 150px;
      }
    }

  }

  &-temp {
    position: relative;
    font-size: 180px;

    &:after {
      position: absolute;
      content: "o";
      font-size: 90px;
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 120px;
      &:after {
        font-size: 60px;
      }
    }
  }

  &-info {
    font-size: 25px;
    grid-column: 1/3;
  }

}
