<div class="weather">
    <div class="weather-icon">
        <img [src]="weatherIcon" alt="weather-icon"/>
    </div>
    <div class="weather-temp">{{currentWeather}}</div>
    <div class="weather-info">{{weatherDescription}}</div>
</div>
