.city-finder {

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    width: 108vw;
    z-index: 1000;
  }

  .search-block {
    width: 100%;
    color: #000;
    position: relative;
    display: flex;
    font-size: 18px;

    &-input {
      width: 100%;
      padding: 18px 40px 18px 18px;
      font-size: 18px;
      border: 1px solid #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

      &:focus {
        outline: none;
      }

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        z-index: 1000;
      }
    }

    &-button {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 45px;
      height: 50%;
      background: none;
      cursor: pointer;
      font-size: 18px;
      color: #1086ff;

      &:hover {
        color: #095eb6;
      }

      &:focus,
      &:active {
        outline: none;
      }

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        z-index: 1000;
      }
    }

    &-dropdown-menu {
      position: absolute;
      top: 50px;
      width: 100%;
      border: 1px solid #fff;
      border-radius: 0 0 8px 8px;
      border-top: none;
      max-height: 250px;
      overflow: auto;
      z-index: 1001;
      background: #fff;
      box-shadow: 0 6px 4px rgba(0, 0, 0, 0.15);
      padding: 0 4px;

      .dropdown-item {
        display: flex;
        cursor: pointer;
        height: 45px;
        align-items: center;
        padding: 0 14px;

        &:hover {
          background-color: #f2f2f2;
          border-radius: 8px;
        }
      }
    }
  }
}
