<div class="city-finder" >
  <div class="search-block">
    <input
      class="search-block-input"
      type="text"
      [(ngModel)]="cityName"
      (keyup)="onCityNameChange()"
    />

    <button
            class="search-block-button apply-find-city"
            *ngIf="selectedFindCity"
            (click)="onApplyCity()"
    >
      OK
    </button>
    <button
            class="search-block-button clear-input"
            *ngIf="!selectedFindCity && cityName"
            (click)="onClearInput()"
    >
      X
    </button>

    <div
      class="search-block-dropdown-menu"
      *ngIf="
        !selectedFindCity &&
        cityName &&
        (findCities$ | async)?.features as cityFeatures
      "
    >
      <div
        class="search-block-item dropdown-item"
        *ngFor="let feature of cityFeatures"
        title="{{ joinCityName(feature) }}"
        (click)="onCityClick(feature)"
      >
        {{ joinCityName(feature) }}
      </div>
    </div>
  </div>
</div>
