.unit {
  display: grid;
  justify-content: flex-end;

  &-degree{
    position: relative;
    &:before {
      position: absolute;
      content: "o";
      opacity: .4;
      left: -20px;
      top: 6px;
      font-size: 12px;
    }
  }

  &-group {
    display: inline-block;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    color: #ffffff;
    position: relative;


    &-toggler {
      float: left;

      input[type=radio] {
        display: none;

        &:checked + label {
          background: rgba(255, 255, 255, 0.2);;
        }
      }

      label {
        display: inline-block;
        cursor: pointer;
        padding: 0 16px;
        font-size: 18px;
        line-height: 32px;
        border-right: none;
        user-select: none;
      }
    }
  }
}

