<div class="unit">
    <div class="unit-degree"></div>
    <div class="unit-group">
        <div class="unit-group-toggler">
            <input
                    id="unit-metric"
                    type="radio"
                    name="unit"
                    value="metric"
                    [checked]="selectedUnitProps === 'metric'"
                    (click)="onChaneUnit('metric')"
            />
            <label for="unit-metric">C</label>
        </div>
        <div class="unit-group-toggler">
            <input
                    id="unit-imperial"
                    type="radio"
                    name="unit"
                    value="imperial"
                    [checked]="selectedUnitProps === 'imperial'"
                    (click)="onChaneUnit('imperial')"
            />
            <label for="unit-imperial">F</label>
        </div>
    </div>
</div>
