<app-city-finder
        *ngIf="isChangeCity"
        (onApplyCity)="onChangeCity()"
></app-city-finder>
<div class="city" *ngIf="!isChangeCity">
    <div class="city-name">{{ cityNameProps }}</div>
    <div class="city-change" (click)="onChangeCity()">Сменить город</div>
    <div class="city-location">
        <div class="city-actions-location-icon">
            <svg
                    width="18"
                    height="21"
                    viewBox="0 0 18 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.489 0.838191L0.238948 11.6268L8.72799 13.2769L13.2146 20.7637L17.489 0.838191Z"
                        fill="white"
                        fill-opacity="0.4"
                />
            </svg>
        </div>
        <div class="city-actions-location-text" (click)="getCurrentPosition()">
            Мое местоположение
        </div>
    </div>
</div>
