$opacity-half: 0.6;
$opacity-none: 1;

.city {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-row-gap: 9px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    grid-row-gap: 18px;
  }

  &-name {
    font-size: 50px;
    line-height: 60px;
    grid-column: 1/3;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &-change {
    cursor: pointer;
    opacity: $opacity-half;

    &:hover {
      opacity: $opacity-none;
    }
  }

  &-location {
    display: grid;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 12px;
    cursor: pointer;
    opacity: $opacity-half;

    &:hover {
      opacity: $opacity-none;

      .city-actions-location-icon {
        svg {
          path {
            fill-opacity: $opacity-none;
          }
        }
      }
    }
  }
}
