@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/lato/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/lato/Lato-Bold.ttf) format('truetype');
}
